.card{
    margin: 1rem;
    padding:2rem;
    text-align: center;
    color: $color-icon-color;
    font-family: 'Open Sans',Arial,sans-serif;
    margin:0 auto;
    &-icon{
        font-size: 8rem;
        margin-bottom: 1rem;
    }
    &-name{
        color: white;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    &-content{
        font-size: 2rem;
    }

}

.contact-card{
    margin:2rem 4rem;
    & a{
        text-decoration: none;
        color:$color-black;
        &:hover{
            color: $color-primary;
        }
    }
}

.cont-card{
    &-icon{
        font-size: 2rem;
    }
    &-name{
        margin-left: .5rem;
        font-size: 2rem;
        display: inline;
    }  
}
